* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}
body {
    background-image: url(https://images3.alphacoders.com/132/1322308.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
nav {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 55px;
}
nav div {
    color: #ffffff;
    font-size: 20px;
    margin-top: 15.8px;
    font-weight: bold;
}
.menu {
    display: flex;
    list-style: none;
}
.text-menu {
    text-decoration: none;
    margin-left: 60px;
    color: #ffffff;
}
ul li {
    margin-left: 5px;
}
.searchbox {
    border: none;
    outline: none;
    margin-left: 5px;
    background: none;
    color: #ffffff;
}
.searchbox::placeholder {
    color: #ffffff;
}
.fa-solid {
    color: #ffffff;
    margin-left: 150px;
    margin-top: 23px;
}
.fa-regular {
    margin-left: 30px;
    color: #000;
    background: #b8c0bc;
    border-radius: 20px;
    padding: 23px 23px;
}
ul li {
    margin-top: 20px;
}