@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Prompt:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}
body {
    /* background-image: url(https://images3.alphacoders.com/132/1322308.jpeg);
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: #333;
}
nav {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 55px;
}
nav div a {
    color: #fff;
    text-decoration: none;
}
nav div {
    margin-top: 15.3px;
    font-size: 20px;
}
.menu {
    display: flex;
    list-style: none;
}
.text-menu {
    text-decoration: none;
    margin-left: 60px;
    color: #fff;
}
ul li {
    margin-left: 5px;
}
.searchbox {
    border: none;
    outline: none;
    margin-left: 5px;
    background: none;
    color: #fff;
    margin-top: 4px;
}
.searchbox::placeholder {
    color: #fff;
}
.fa-solid {
    color: #fff;
    margin-left: 150px;
    margin-top: 25px;
}
.fa-regular {
    margin-left: 30px;
    color: #000;
    background: #b8c0bc;
    border-radius: 20px;
    padding: 23px 23px;
}
ul li {
    margin-top: 20px;
}
section {
    border: 1px solid #ff0000;
    margin-top: 20px;
    color: #fff;
    text-align: center;
}
section {
    margin-left: 50px;
    margin-right: 50px;
}