@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Prompt:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}
:root {
    --dark-color: #333;
    --light-color: #fff;
}
body.light-mode {
    background-color: var(--light-color);
    color: var(--dark-color);
    transition: background-color 0.3s, color 0.3s;

    .logo a {
        color: #333;
        transition: background-color 0.3s, color 0.3s;
    }
    .submenu {
        background-color: #fff;
        transition: background-color 0.3s, color 0.3s;
    }
    .title {
        color: #000000;
        transition: background-color 0.3s, color 0.3s;
    }
}

body.dark-mode {
    background-color: var(--dark-color);
    color: var(--light-color);
    transition: background-color 0.3s, color 0.3s;

    .logo a {
        color: #fff;
        transition: background-color 0.3s, color 0.3s;
    }
    .submenu {
        background-color: #333;
        transition: background-color 0.3s, color 0.3s;
    }
    .title {
        color: #fff;
        transition: background-color 0.3s, color 0.3s;
    }
}
nav {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    padding: 20px;
    color: #333;
}
.logo {
    margin-top: 9px;
}
.logo a {
    margin-top: px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: #000000;
}
.menu, .submenu {
    display: flex;
    list-style: none;
}
.title {
    margin-top: 5px;
    margin-left: 70px;
    color: #000000;
}
.switch {
    white-space: nowrap;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 19px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    transition: .4s;
}
.menu li a:hover, .menu button:hover, .menu li:hover {
    transform: scale(1.1);
}
input:checked + .slider {
    background-color: #2196F3;
}
input:checked + .slider:before {
    transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
.submenu {
    margin-top: 55px;
    margin-left: 575px;
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 200px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 8px;
}
.menu button, .dropbtn {
    margin-left: 15px;
    font-weight: bold;
    align-items: center;
    background-image: linear-gradient(144deg,#16d9eb, #088395 50%,#35A29F);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    color: #fff;
    display: flex;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 8px 18px;
    transition: transform .2s;
}
.show {
    display: block;
}
.menu button a {
    text-decoration: none;
    color: #fff;
    /* background:  linear-gradient(45deg, #0c456b, #07a06f); */
    border-radius: 5px;
    padding: 5px 15px;
    transition: transform .2s;
}
.menu button {
    transition: transform .2s;
}
.banner {
    background-color: rgb(5, 78, 78);
    color: #fff;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner h1 {
    margin-top: 20px;
}
.banner-info {
    text-align: center;
}
.banner-info img {
    width: 300px;
    border-radius: 100%;
}
main {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: 1fr 1fr 1fr;
}
main div {
    padding: 20px;
}
main div p {
    margin-top: 10px;
}
main img {
    width: 100%;
    border-radius: 20px;
    margin-top: 10px;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}